<footer>
    <article class='footer__top'>
        <h1 class='footer__top-title'>LOREM IPSUM IS SIMPL</h1>
        <h2 class='footer__top-subtitle'>Lorem Ipsum is simply dummy typesetting industry.</h2>
        <p class='footer__top-text'>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
            an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </article>
    <article class='footer__middle'>
        <section class='footer__middle-logo-agencia'>
            <img src='/arquivos/lucas-rocha-logo-eplus.png' />
        </section>
        <section class='footer__middle-text'>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
        </section>
    </article>
    <article class='footer__info'>
        <section class='footer__info-company'>
            <a class='footer__info-company-address'>Razão Social: Agencia e-plus ltda | CNPJ-18.106.304/0001-01 |
                Endereço: Borges Lagoa, 564, 13 andar CEP: 04038-000 | Vila Mariana - São Paulo</a>
            <a class='footer__info-company-schedule'>Horário de atendimento da loja: 09h00 as 18h00</a>
        </section>
        <section class='footer__info-about-company'>
            <div class='footer__info-about-company-box'>
                <h3 class='footer__info-title'>e-Plus</h3>
                <a class='footer__info-topic'>> Quem Somos</a>
                <a class='footer__info-topic'>>Politica de Privacidade</a>
            </div>
            <div class='footer__info-about-company-box'>
                <h3 class='footer__info-title'>Junte-se à nós</h3>
                <div class='footer__info-redes-sociais'>
                    <img src='/arquivos/lucas-rocha-instagram.svg' />
                    <img src='/arquivos/lucas-rocha-facebook.svg' />
                    <img src='/arquivos/lucas-rocha-youtube.svg' />
                </div>
            </div>
        </section>
        <section class='footer__info-box'>
            <h3 class='footer__info-title'>Dúvidas</h3>
            <a class='footer__info-topic'>>Minha Conta</a>
            <a class='footer__info-topic'>>Meus Pedidos</a>
            <a class='footer__info-topic'>>Fale Conosco</a>
        </section>
        <section class='footer__info-box'>
            <h3 class='footer__info-title'>Segurança</h3>
            <div class='footer__info-certified-box'>
                <div class='footer__info-certified-vtex'>
                    <img src='/arquivos/lucas-rocha-vtex-certified.png' />
                </div>
                <a class='footer__info-lets-encrypt'><vtex.cmc:LucasRochaLetsEncrypt /></a>
            </div>
        </section>
    </article>
    <article class='footer__info-bottom'>
        <section class='footer__info-bottom-box'>
            <p class='footer__info-text'>Todos os direitos reservados. Loja de testes. As informações não podem ser
                reproduzidas ou parcialmente sem autorização prévia.</p>
            <div class='footer__info-payment'>
                <img src='/arquivos/lucas-rocha-visa.png' />
                <img src='/arquivos/lucas-rocha-master-card.png' />
                <img src='/arquivos/lucas-rocha-dinners-club.png' />
                <img src='/arquivos/lucas-rocha-aura.png' />
                <img src='/arquivos/lucas-rocha-hipercard.png' />
                <img src='/arquivos/lucas-rocha-american-express.png' />
                <img src='/arquivos/lucas-rocha-elo.png' />
                <img src='/arquivos/lucas-rocha-boleto.png' />
            </div>
        </section>
    </article>
    <article class='footer__bottom'>
        <a class='footer__bottom-logo-eplus'><vtex.cmc:LucasRochaLogoAgenciaEplus/></a>
        <a class='footer__bottom-logo-vtex'><vtex.cmc:LucasRochaLogoVtex /></a>
    </article>
</footer>