<header>
    <article class='header__top-bar'>
        <section class='header__contact'>
            <p class='header__contact-item'>Atendimento ao cliente: <vtex.cmc:LucasRochaInfoPhone /></p>
            <p class='header__contact-item'>Whatsapp: <vtex.cmc:LucasRochaInfoWhatsapp /></p>
        </section>
        <section class='header__requests'>
            <i class="fas fa-bars"></i>
            <a class='header__requests-span'>Meus <b class='header__requests-span-green'>Pedidos</b></a>
        </section>
    </article>
    <article class='header__center'>
        <img src='/arquivos/lucas-rocha-logo-eplus.png'/> 
        <section class='header__search'>
            <input class='header__search-input' placeholder='Digite Aqui'/>
            <a><vtex.cmc:LucasRochaSVGLupa /></a>
        </section>
        <section class='header__login'>
            <a class='header__login-icon'><vtex.cmc:LucasRochaSVGLoginCadastreSe /></a>
            <a class='header__login-span'>Login/Cadastre-se</a>
        </section>
        <section class='header__cart'>
            <a class='header__cart-icon'><vtex.cmc:LucasRochaSVGCarrinho /></a>
            <a class='header__cart-span'>1 item(S)</a>
        </section>
    </article>
    <article class='header__bottom-bar'>
        <section class='header__categorias'>
            
        </section>
    </article>
    </header>